 img{
     width: 250px;
    height: 250px;
    cursor: pointer;
} 
#modalimg{
    width: 500px;
    height: 500px;
}
.modal{
    display: none;
}
#images{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}